In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('./dataframe_all_tng.csv')

In [5]:
imdb_df = pd.read_csv('./tng_imdb_data.csv')

In [6]:
imdb_df.rename(columns={'ep_name': 'ep_title'}, inplace=True)

In [7]:
df.head()

,character,ep_title,text
0,PICARD,Encounter at Farpoint,"You will agree, Data, that Starfleet's orders ..."
1,PICARD,Encounter at Farpoint,As simple as that.
2,PICARD,Encounter at Farpoint,"It's hardly simple, Data, to negotiate a frien..."
3,PICARD,Encounter at Farpoint,"Data, how can you be programmed as a virtual e..."
4,PICARD,Encounter at Farpoint,"It means to spy, to sneak."

In [8]:
imdb_df.head()

        airdate                      ep_title  number  rating  season  index
0  26 Sep. 1987         Encounter at Farpoint       1     6.9       1      1
1   3 Oct. 1987                 The Naked Now       2     6.6       1      2
2  10 Oct. 1987                 Code of Honor       3     5.2       1      3
3  17 Oct. 1987              The Last Outpost       4     6.3       1      4
4  24 Oct. 1987  Where No One Has Gone Before       5     7.6       1      5

In [9]:
df['ep_title_formatted'] = [''.join(e for e in title if e.isalnum()).lower() for title in df['ep_title']]

In [10]:
df.head()

,character,ep_title,text,ep_title_formatted
0,PICARD,Encounter at Farpoint,"You will agree, Data, that Starfleet's orders ...",encounteratfarpoint
1,PICARD,Encounter at Farpoint,As simple as that.,encounteratfarpoint
2,PICARD,Encounter at Farpoint,"It's hardly simple, Data, to negotiate a frien...",encounteratfarpoint
3,PICARD,Encounter at Farpoint,"Data, how can you be programmed as a virtual e...",encounteratfarpoint
4,PICARD,Encounter at Farpoint,"It means to spy, to sneak.",encounteratfarpoint

In [11]:
imdb_df['ep_title_formatted'] = [''.join(e for e in title if e.isalnum()).lower() for title in imdb_df['ep_title']]

In [12]:
imdb_df.head()

,airdate,ep_title,number,rating,season,index,ep_title_formatted
0,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1,encounteratfarpoint
1,3 Oct. 1987,The Naked Now,2,6.6,1,2,thenakednow
2,10 Oct. 1987,Code of Honor,3,5.2,1,3,codeofhonor
3,17 Oct. 1987,The Last Outpost,4,6.3,1,4,thelastoutpost
4,24 Oct. 1987,Where No One Has Gone Before,5,7.6,1,5,wherenoonehasgonebefore

In [63]:
imdb_set = set(imdb_df['ep_title_formatted'])
df_set = set(df['ep_title_formatted'])

In [64]:
imdb_replace = []
for ep in imdb_set:
    if ep not in df_set:
        imdb_replace.append(ep)
        print(ep)

In [65]:
df_replace = []
for ep in df_set:
    if ep not in imdb_set:
        df_replace.append(ep)
        print(ep)

In [19]:
df_replace.sort()

In [20]:
df_replace

['amatterofhonour',
 'birthrightpart1',
 'birthrightpart2',
 'chainofcommandpart2',
 'chainofcommandpartone',
 'codeofhonour',
 'descentpart1',
 'descentpart2',
 'gambitpart1',
 'gambitpart2',
 'ménageatroi',
 'redemptionpart2',
 'thebestofbothworldspart2',
 'thebestofbothworldspartone',
 'timesarrowpart1',
 'timesarrowpart2',
 'unificationpart1',
 'unificationpart2']

In [21]:
imdb_replace.sort()

In [22]:
imdb_replace

['amatterofhonor',
 'birthrightparti',
 'birthrightpartii',
 'chainofcommandparti',
 'chainofcommandpartii',
 'codeofhonor',
 'descent',
 'descentpartii',
 'gambitparti',
 'gambitpartii',
 'ménageàtroi',
 'redemptionii',
 'thebestofbothworlds',
 'thebestofbothworldspartii',
 'timesarrow',
 'timesarrowpartii',
 'unificationi',
 'unificationii']

In [24]:
replace_master = list(zip(df_replace, imdb_replace))

In [27]:
replace_master_df = pd.DataFrame(replace_master, columns=['df', 'imdb'])

In [49]:
len(replace_master_df)

18

In [57]:
replace_master_df.iloc[0,0]

'amatterofhonour'

In [58]:
replace_master_df.iloc[0,1]

'amatterofhonor'

In [59]:
for i in list(range(0,19)):
    df.replace(to_replace=replace_master_df.iloc[i,0], value=replace_master_df.iloc[i,1], inplace=True)

IndexError: single positional indexer is out-of-bounds

In [66]:
df

,character,ep_title,text,ep_title_formatted
0,PICARD,Encounter at Farpoint,"You will agree, Data, that Starfleet's orders ...",encounteratfarpoint
1,PICARD,Encounter at Farpoint,As simple as that.,encounteratfarpoint
2,PICARD,Encounter at Farpoint,"It's hardly simple, Data, to negotiate a frien...",encounteratfarpoint
3,PICARD,Encounter at Farpoint,"Data, how can you be programmed as a virtual e...",encounteratfarpoint
4,PICARD,Encounter at Farpoint,"It means to spy, to sneak.",encounteratfarpoint
5,PICARD,Encounter at Farpoint,"Exactly, yes.",encounteratfarpoint
6,PICARD,Encounter at Farpoint,Shut off that damned noise.,encounteratfarpoint
7,PICARD,Encounter at Farpoint,Go to Yellow Alert.,encounteratfarpoint
8,PICARD,Encounter at Farpoint,"Reverse power, full stop.",encounteratfarpoint
9,PICARD,Encounter at Farpoint,That's quite a directive.,encounteratfarpoint
10,PICARD,Encounter at Farpoint,Would you mind identifying what you are?,encounteratfarpoint
11,PICARD,Encounter at Farpoint,"Data, call medics.",encounteratfarpoint
12,PICARD,Encounter at Farpoint,He would not have injured you.,encounteratfarpoint
13,PICARD,Encounter at Farpoint,"Do you recognise this, the stun setting?",encounteratfarpoint
14,PICARD,Encounter at Farpoint,What?,encounteratfarpoint
15,PICARD,Encounter at Farpoint,That nonsense is centuries behind us.,encounteratfarpoint
16,PICARD,Encounter at Farpoint,Most certainly I deny it.,encounteratfarpoint
17,PICARD,Encounter at Farpoint,I agree we still were when humans wore costume...,encounteratfarpoint
18,PICARD,Encounter at Farpoint,But even when we wore costumes like that we'd ...,encounteratfarpoint
19,PICARD,Encounter at Farpoint,"Yes you can, Lieutenant Yar.",encounteratfarpoint
20,PICARD,Encounter at Farpoint,No.,encounteratfarpoint
21,PICARD,Encounter at Farpoint,The same old story is the one we're meeting now.,encounteratfarpoint
22,PICARD,Encounter at Farpoint,Self-righteous life forms who are eager not to...,encounteratfarpoint
23,PICARD,Encounter at Farpoint,We've no fear of what the true facts about us ...,encounteratfarpoint
24,PICARD,Encounter at Farpoint,"Sense anything, Commander?",encounteratfarpoint
25,PICARD,Encounter at Farpoint,"From this point, no station aboard, repeat no ...",encounteratfarpoint
26,PICARD,Encounter at Farpoint,We'll try and take them by surprise.,encounteratfarpoint
27,PICARD,Encounter at Farpoint,Let's see what this galaxy class starship can do.,encounteratfarpoint
28,PICARD,Encounter at Farpoint,"(to Worf) Lieutenant, inform engine room to pr...",encounteratfarpoint
29,PICARD,Encounter at Farpoint,"Records search, Data.",encounteratfarpoint
...,...,...,...,...
108831,Q,All Good Things,"For that one fraction of a second, you were op...",allgoodthings
108832,Q,All Good Things,That is the exploration that awaits you.,allgoodthings
108833,Q,All Good Things,"Not mapping stars and studying nebulae, but ch...",allgoodthings
108834,Q,All Good Things,You'll find out.,allgoodthings
108835,Q,All Good Things,"In any case, I'll be watching.",allgoodthings
108836,Q,All Good Things,"And if you're very lucky, I'll drop by to say ...",allgoodthings
108837,Q,All Good Things,See you out there.,allgoodthings
108838,COMPUTER,All Good Things,That beverage has not been programmed into the...,allgoodthings
108839,COMPUTER,All Good Things,Admiral Riker is in Ten Forward.,allgoodthings
108840,TOMOLAK,All Good Things,"So, Captain how long shall we stare at each ot...",allgoodthings
108841,TOMOLAK,All Good Things,Has Starfleet Command approved this arrangement?,allgoodthings
108842,TOMOLAK,All Good Things,I like it already.,allgoodthings
108843,TOMOLAK,All Good Things,Agreed.,allgoodthings
108844,TOMOLAK,All Good Things,One ship from each side.,allgoodthings
108845,TOMOLAK,All Good Things,"But I warn you, if another Federation starship...",allgoodthings
108846,TOMOLAK,All Good Things,Very well.,allgoodthings
108847,TOMOLAK,All Good Things,I'll see you in the Devron system.,allgoodthings
108848,GATES,All Good Things,"Aye, sir.",allgoodthings
108849,GAINES,All Good Things,"All the Pasteur's crew are safely on board, Ad...",allgoodthings
108850,GAINES,All Good Things,"They're still moving off, sir.",allgoodthings
108851,GAINES,All Good Things,Half a light year away.,allgoodthings
108852,GAINES,All Good Things,"Admiral, we took a direct hit to the starboard...",allgoodthings
108853,GAINES,All Good Things,Our cloak isn't functioning.,allgoodthings
108854,GAINES,All Good Things,Engineering reports it'll be seven hours befor...,allgoodthings
108855,GAINES,All Good Things,"Aye, sir.",allgoodthings
108856,GAINES,All Good Things,"Entering the Devron system, sir.",allgoodthings
108857,GAINES,All Good Things,We've entered the anomaly.,allgoodthings
108858,ENSIGN,All Good Things,"It's four decks down, sir.",allgoodthings
108859,ENSIGN,All Good Things,Section zero zero five.,allgoodthings
108860,HELM,All Good Things,"Aye, sir.",allgoodthings

In [67]:
merged_df = pd.merge(df, imdb_df, on='ep_title_formatted', how='outer')

In [73]:
merged_df.head()

,character,ep_title_x,text,ep_title_formatted,airdate,ep_title_y,number,rating,season,index
0,PICARD,Encounter at Farpoint,"You will agree, Data, that Starfleet's orders ...",encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1
1,PICARD,Encounter at Farpoint,As simple as that.,encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1
2,PICARD,Encounter at Farpoint,"It's hardly simple, Data, to negotiate a frien...",encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1
3,PICARD,Encounter at Farpoint,"Data, how can you be programmed as a virtual e...",encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1
4,PICARD,Encounter at Farpoint,"It means to spy, to sneak.",encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1

In [74]:
merged_df.drop('ep_title_x', axis=1, inplace=True)

In [1]:
merged_df.head()

NameError: name 'merged_df' is not defined

In [78]:
merged_df.to_csv('merged_tng.csv', index=False)

In [79]:
test_df = pd.read_csv('./merged_tng.csv')

In [80]:
test_df.head()

,character,text,ep_title_formatted,airdate,ep_title_y,number,rating,season,index
0,PICARD,"You will agree, Data, that Starfleet's orders ...",encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1
1,PICARD,As simple as that.,encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1
2,PICARD,"It's hardly simple, Data, to negotiate a frien...",encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1
3,PICARD,"Data, how can you be programmed as a virtual e...",encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1
4,PICARD,"It means to spy, to sneak.",encounteratfarpoint,26 Sep. 1987,Encounter at Farpoint,1,6.9,1,1